<div class="content product {% render 'content-classes', scope: section %} {% if section.settings.enable_sticky_info %}sticky{% endif %} {{ settings.content_alignment }}" data-section-id="{{ section.id }}" data-section-type="product">
  <div class="item">
    <div class="media">
      <div class="product-media {{ section.settings.product_images_layout }}">
        <div class="frame">
          <div class="table">
            <div class="cell">
              <div>
                <div class="media" id="media-0" tabindex="-1">
                  {{ "product-5" | placeholder_svg_tag: 'placeholder-svg with-border' }}
                </div>
                <div class="media hide" id="media-1" tabindex="-1">
                  {{ "product-3" | placeholder_svg_tag: 'placeholder-svg with-border' }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gallery">
          <div class="thumb col-0">
            <a data-action="show-product-media" data-id="media-0">
              <div>
                {{ "product-5" | placeholder_svg_tag: 'placeholder-svg with-border' }}
              </div>
            </a>
          </div>
          <div class="thumb col-1">
            <a data-action="show-product-media" data-id="media-1">
              <div>
                {{ "product-3" | placeholder_svg_tag: 'placeholder-svg with-border' }}
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="info">
      <div class="inner">
        <form>
          {%- for block in section.blocks -%}
            <div class="block type-{{ block.type }} {% if block.settings.increase_space_before_block %}expanded-top{% endif %}" {{ block.shopify_attributes }}>
              {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}

              {%- when 'available_stock_units' -%}
                {% capture units %}
                  <span class="units">10</span>
                {% endcapture %}
                <div class="description stock" id="productStock-{{ section.id }}">
                  {{ 'products.product.available_units_html' | t: units: units }}
                </div>

              {%- when 'text' -%}
                {%- case block.settings.text_style -%}
                  {%- when 'body' -%}
                    <div class="rte description">
                      {{ block.settings.text }}
                    </div>
                  {%- when 'subtitle' -%}
                    <h3>{{ block.settings.text }}</h3>
                  {%- when 'uppercase' -%}
                    <h3 style="text-transform: uppercase;">{{ block.settings.text }}</h3>
                {%- endcase -%}

              {%- when 'title' -%}
                <h2>{{ 'home_page.onboarding.product_title' | t }}</h2>

              {%- when 'price' -%}
                <div class="product-block {% if block.settings.increase_space_before_block %}expanded-top{% endif %}" {{ block.shopify_attributes }}>
                  <div>
                    <h3 class="price" id="productPrice-{{ section.id }}">{{ 2000 | money }}</h3>
                  </div>
                </div>

              {%- when 'share' -%}
                {% if block.settings.facebook_sharing_products or
                      block.settings.twitter_sharing_products or
                      block.settings.pinterest_sharing_products %}

                  {% assign current_url = '' %}
                  {% assign template_base = template | replace: '.', ' ' | truncatewords: 1, '' | handle %}
                  {% assign current_url = shop.url %}
                  <div class="share">
                    {% if block.settings.facebook_sharing_products %}
                      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ current_url }}" class="icon circle facebook" title="{{ 'products.product.share_on' | t: platform: 'Facebook' }}">
                        <i class="fc fc-facebook"></i>
                      </a>
                    {% endif %}
                    {% if block.settings.twitter_sharing_products %}
                      <a target="_blank" href="//twitter.com/share?text={{ shop.name | url_param_escape }}&amp;url={{ current_url }}" class="icon twitter" title="{{ 'products.product.share_on' | t: platform: 'Twitter' }}">
                        <i class="fc fc-twitter"></i>
                      </a>
                    {% endif %}
                    {% if block.settings.pinterest_sharing_products %}
                      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ current_url }}&amp;description={{ shop.name | url_param_escape }}&amp;media={{ product.featured_media.preview_image | img_url: 'original' | prepend: 'http:' | split: '?' | first }}" class="icon pinterest" title="{{ 'products.product.share_on' | t: platform: 'Pinterest' }}">
                        <i class="fc fc-pinterest"></i>
                      </a>
                    {% endif %}
                  </div>
                {% endif %}

              {%- when 'description' -%}
                <div class="description rte">
                  {{ 'home_page.onboarding.product_description' | t }}
                </div>

              {%- when 'quantity_selector' -%}
                <div class="quantity">
                  <label class="regular" for="productQuantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                  <div class="select number">
                    <input type="number" id="productQuantity-{{ section.id }}" name="quantity" value="1" pattern="[0-9]*" min="1">
                    <div class="arrow">
                      <i class="fc fc-angle-down fc-lg"></i>
                    </div>
                  </div>
                </div>

              {%- when 'buy_buttons' -%}
                <div class="buttons">
                  <button type="button" name="add" class="add-to-cart {% if block.settings.show_dynamic_checkout %}with-payment-button{% endif %}" id="addToCart-{{ section.id }}" onClick="event.preventDefault()">
                    {{ 'products.product.add_to_cart' | t }}
                  </button>
                  {% if block.settings.show_dynamic_checkout %}
                    <button type="button" class="add-to-cart"  onClick="event.preventDefault()">
                      Buy it now
                    </button>
                  {% endif %}
                </div>
              {%- when 'rating' -%}
                {% liquid
                  assign rating = 0
                  assign scale_max = 5
                  assign rating_count = 0
                  assign rating_decimal = 0
                  assign decimal = rating | modulo: 1
                  if decimal >= 0.3 and decimal <= 0.7
                    assign rating_decimal = 0.5
                  elsif decimal > 0.7
                    assign rating_decimal = 1
                  endif
                %}
                <div class="rating-container">
                  <div class="rating" role="img" aria-label="{{ 'general.accessibility.star_reviews_info' | t: rating_value: value, rating_max: scale_max }}">
                    <span aria-hidden="true" class="rating-star" style="--rating: {{ rating | floor }}; --rating-max: {{ scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
                  </div>
                  <p class="rating-text">
                    <span aria-hidden="true">{{ rating }} / {{ scale_max }}</span>
                  </p>
                  <p class="rating-count">
                    <span aria-hidden="true">({{ "products.product.total_reviews" | t: count: rating_count }})</span>
                    <span class="visually-hidden">{{ "products.product.total_reviews" | t: count: rating_count }}</span>
                  </p>
                </div>
              {%- when 'custom_liquid' -%}
                {{ block.settings.custom_liquid }}
              {%- when 'collapsible_tab' -%}
                <div class="accordion {{ settings.content_alignment }}" {{ block.shopify_attributes }}>
                  <details>
                    <summary>
                      <div class="header">
                        {% render 'icon-accordion', icon: block.settings.icon %}
                        <h3>
                          {{ block.settings.heading | default: block.settings.page.title }}
                        </h3>
                      </div>
                      <div class="arrow">
                        <i class="fc fc-angle-down fc-lg"></i>
                      </div>
                    </summary>
                    <div class="rte">
                      {{ block.settings.content }}
                      {{ block.settings.page.content }}
                    </div>
                  </details>
                </div>
              {%- endcase -%}
            </div>
          {%- endfor -%}
        </form>
      </div>
    </div>
  </div>
</div>