{%- if section.settings.enable_sorting or section.settings.enable_filtering -%}
  {% liquid
    assign total_active_values = 0
    assign filters_count = collection.filters | size
    if section.settings.enable_filtering and filters_count > 0
      assign has_filters = true
    else
      assign has_filters = false
    endif
    if search.terms != blank
      assign clear_url = routes.search_url | append: "?type=product,page,article&options[prefix]=last&q=" | append: search.terms
    else
      assign clear_url = collection.url | append: '?sort_by=' | append: collection.sort_by
    endif
  %}
  {% capture hidden_vars %}
    {%- if collection.current_vendor or collection.current_type -%}
      <input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
    {%- endif -%}
    {%- if search.terms != blank -%}
      <input type="hidden" name="options[prefix]" value="last" />
      <input type="hidden" name="type" value="product,page,article">
      <input type="hidden" name="q" value="{{ search.terms }}">
    {% endif %}
  {% endcapture %}
  <div class="sorting-and-filtering">
    <form class="desktop {% if has_filters %}hide-on-mobile{% endif %}">
      {{ hidden_vars }}
      {%- if has_filters -%}
        <div class="filtering">
          <div class="filters">
            {%- if section.settings.show_labels -%}
              <div class="filter-label">{{ 'collections.general.filter_by' | t }}</div>
            {%- endif -%}
            {%- for filter in collection.filters -%}
              <details class="filter-group">
                <summary class="filter-group-summary">
                  <div class="text">
                    <span>{{ filter.label }}</span>
                    {%- if filter.active_values.size > 0 -%}
                      <span class="count">({{ filter.active_values.size }})</span>
                    {%- endif -%}
                  </div>
                  <div class="arrow">
                    <i class="fc fc-angle-down fc-lg"></i>
                  </div>
                </summary>
                <div class="filter-group-display">
                  {%- case filter.type -%}
                  {%- when 'list' -%}
                    {%- if filter.active_values.size > 0 -%}
                      {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
                      <div class="filter-group-header">
                        <span>{{ filter.active_values.size }} selected</span>
                        <a href="{{ filter.url_to_remove }}" class="reset">{{ 'collections.general.reset' | t }}</a>
                      </div>
                    {%- endif -%}
                  {%- when 'price_range' -%}
                    {%- if filter.min_value.value -%}
                      {%- assign total_active_values = total_active_values | plus: 1 -%}
                    {%- endif -%}
                    {%- if filter.max_value.value -%}
                      {%- assign total_active_values = total_active_values | plus: 1 -%}
                    {%- endif -%}
                    <div class="filter-group-header">
                      {%- assign max_price_amount = filter.range_max | money | escape -%}
                      <span>{{ "collections.general.max_price" | t: price: max_price_amount }}</span>
                      {%- if filter.min_value.value or filter.max_value.value -%}
                        <a href="{{ filter.url_to_remove }}" class="reset">{{ 'collections.general.reset' | t }}</a>
                      {%- endif -%}
                    </div>
                  {%- endcase -%}
                  <div class="filter-group-content">
                    {%- case filter.type -%}
                    {%- when 'list' -%}
                      <ul>
                        {%- for filter_value in filter.values -%}
                          <li>
                            <input type="checkbox"
                              name="{{ filter_value.param_name }}"
                              value="{{ filter_value.value }}"
                              id="Filter-{{ filter.label }}-{{ forloop.index }}"
                              {% if filter_value.active -%}checked{%- endif %}
                              {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                            >
                            <label for="Filter-{{ filter.label }}-{{ forloop.index }}">
                              {{ filter_value.label | escape }} ({{ filter_value.count }})
                            </label>
                          </li>
                        {%- endfor -%}
                      </ul>

                      <div>
                        <input type="submit" class="btn line full" value="{{ 'collections.general.apply' | t }}">
                      </div>
                    {%- when 'price_range' -%}
                      <div class="price-range">
                        <div class="price">
                          <label for="Filter-min-{{ filter.label }}-{{ forloop.index }}">{{ 'collections.general.from' | t }}</label>
                          <span>{{ cart.currency.symbol }}</span>
                          <input name="{{ filter.min_value.param_name }}"
                            id="Filter-min-{{ filter.label | escape }}-{{ forloop.index }}"
                            {%- if filter.min_value.value != empty -%}
                              {%- if uses_comma_decimals -%}
                                value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                              {%- else -%}
                                value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                              {% endif %}
                            {%- else -%}
                              value="0"
                            {%- endif -%}
                            type="number"
                            placeholder="0"
                            min="0"
                            max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          >
                        </div>
                        <div class="price">
                          <label for="Filter-max-{{ filter.label }}-{{ forloop.index }}">{{ 'collections.general.to' | t }}</label>
                          <span>{{ cart.currency.symbol }}</span>
                          <input name="{{ filter.max_value.param_name }}"
                            id="Filter-max-{{ filter.label | escape }}-{{ forloop.index }}"
                            {%- if filter.max_value.value != empty -%}
                              {%- if uses_comma_decimals -%}
                                value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                              {%- else -%}
                                value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                              {% endif %}
                            {%- else -%}
                              value="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                            {%- endif -%}
                            type="number"
                            placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                            min="0"
                            max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          >
                        </div>
                      </div>
                      <div>
                        <input type="submit" class="btn line full" value="{{ 'collections.general.apply' | t }}">
                      </div>
                    {%- endcase -%}
                  </div>
                </div>
              </details>
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
      {%- if section.settings.enable_sorting -%}
        <div class="sorting">
          <div class="sort">
            {%- if section.settings.show_labels -%}
              <div class="filter-label">{{ 'collections.general.sort_by' | t }}</div>
            {%- endif -%}
            <div class="select auto">
             <select name="sort_by" id="sortBy" aria-label="{{ 'collections.general.sort_by' | t }}" aria-describedby="a11y-refresh-page-message">
               {% for option in collection.sort_options %}
                 <option value="{{ option.value }}" {% if option.value == collection.sort_by %} selected="selected"{% endif %}>{{ option.name }}</option>
               {% endfor %}
             </select>
              <div class="arrow">
                <i class="fc fc-angle-down fc-lg"></i>
              </div>
            </div>
            <noscript>
              <button type="submit" class="btn action small">{{ 'collections.general.sort_button' | t }}</button>
            </noscript>
          </div>
        </div>
      {%- endif -%}
    </form>
    {%- if has_filters -%}
      <menu-drawer class="hide-on-desktop">
        <details>
          <summary >
            <span class="btn border full small">
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-filter" fill="none" viewBox="0 0 20 41">
                <line x1="16.5" y1="17.5" x2="3.5" y2="17.5"  stroke-linecap="round"/>
                <line x1="16.5" y1="24.5" x2="3.5" y2="24.5"  stroke-linecap="round"/>
                <circle cx="13" cy="24.5" r="2" fill="white" />
                <circle cx="7" cy="17.5" r="2" fill="white" />
              </svg>
              {%- if has_filters and section.settings.enable_sorting -%}
                <span>{{ 'collections.general.filter_and_sort' | t }}</span>
              {%- elsif has_filters-%}
                <span>{{ 'collections.general.filter' | t }}</span>
              {%- else -%}
                <span>{{ 'collections.general.sort' | t }}</span>
              {% endif %}
              {%- if total_active_values > 0 -%}
                <span class="count">({{ total_active_values }})</span>
              {%- endif -%}
            </span>
            <span tabindex="0" class="close">
              <i class="fc fc-close"></i>
            </span>
          </summary>
          <collection-filters-form>
            <form id="CollectionFiltersFormMobile">
              {{ hidden_vars }}
              <div class="inner">
                <div class="header">
                  <h2 class="mobile-facets__heading">
                    {%- if has_filters and section.settings.enable_sorting -%}
                      <span>{{ 'collections.general.filter_and_sort' | t }}</span>
                    {%- elsif has_filters-%}
                      <span>{{ 'collections.general.filter' | t }}</span>
                    {%- else -%}
                      <span>{{ 'collections.general.sort' | t }}</span>
                    {% endif %}
                  </h2>
                  {% if search.terms == blank and has_filters %}
                    <p class="mobile-facets__count">{{ 'collections.general.filter_products_count' | t: count: collection.products_count, total: collection.all_products_count }}</p>
                  {% endif %}
                </div>
                <div class="menu">
                  {%- for filter in collection.filters -%}
                    {% case filter.type %}
                    {% when 'list' %}
                      <details class="details">
                        <summary class="summary">
                          <div>
                            <span>{{ filter.label | escape }}</span>
                            {%- if filter.active_values.size > 0 -%}
                              <span class="count">({{ filter.active_values.size }})</span>
                            {%- endif -%}
                            <span class="arrow">
                              <i class="fc fc-angle-down fc-lg"></i>
                            </span>
                          </div>
                        </summary>
                        <div class="submenu">
                          <ul role="list">
                            {%- for value in filter.values -%}
                              <li>
                                <input
                                  type="checkbox"
                                  name="{{ value.param_name }}"
                                  value="{{ value.value }}"
                                  id="Filter-{{ filter.label | escape }}-mobile-{{ forloop.index }}"
                                  {% if value.active %}checked{% endif %}
                                  {% if value.count == 0 and value.active == false %}disabled{% endif %}
                                >
                                <label for="Filter-{{ filter.label | escape }}-mobile-{{ forloop.index }}">
                                  {{ value.label | escape }} ({{ value.count }})
                                </label>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </details>
                    {% when 'price_range' %}
                      <details class="details">
                        <summary class="summary">
                          <div>
                            <span>{{ filter.label | escape }}</span>
                            {%- if filter.min_value.value and filter.max_value.value -%}
                              <span class="count">(2)</span>
                            {%- elsif filter.min_value.value -%}
                              <span class="count">(1)</span>
                            {%- elsif filter.max_value.value -%}
                              <span class="count">(1)</span>
                            {%- endif -%}
                            <span class="arrow">
                              <i class="fc fc-angle-down fc-lg"></i>
                            </span>
                          </div>
                        </summary>
                        <div class="submenu">
                          <span>{{ "collections.general.max_price" | t: price: max_price_amount }}</span>
                          <div class="price-range">
                            <div class="price">
                              <label for="Filter-min-mobile-{{ filter.label }}-{{ forloop.index }}">{{ 'collections.general.from' | t }}</label>
                              <span>{{ cart.currency.symbol }}</span>
                              <input
                                name="{{ filter.min_value.param_name }}"
                                id="Filter-min-mobile-{{ filter.label | escape }}-{{ forloop.index }}"
                                {%- if filter.min_value.value != empty -%}
                                  {%- if uses_comma_decimals -%}
                                    value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                  {%- else -%}
                                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                  {% endif %}
                                {%- endif -%}
                                type="number"
                                placeholder="0"
                                min="0"
                                max="{{ filter.range_max | divided_by: 100 | ceil }}">
                              </input>
                            </div>
                            <div class="price">
                              <label for="Filter-max-mobile-{{ filter.label | escape }}-{{ forloop.index }}">{{ 'collections.general.to' | t }}</label>
                              <span>{{ cart.currency.symbol }}</span>
                              <input
                                name="{{ filter.max_value.param_name }}"
                                id="Filter-max-mobile-{{ filter.label | escape }}-{{ forloop.index }}"
                                {%- if filter.max_value.value != empty -%}
                                  {%- if uses_comma_decimals -%}
                                    value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                  {%- else -%}
                                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                  {% endif %}
                                {%- endif -%}
                                type="number"
                                placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                min="0"
                                max="{{ filter.range_max | divided_by: 100 | ceil }}">
                              </input>
                            </div>
                          </div>
                        </div>
                      </details>
                    {% endcase %}
                  {%- endfor -%}

                  {%- if section.settings.enable_sorting -%}
                    <div class="details last">
                      <div class="summary">
                        <div>
                          <label for="SortBy-mobile">{{ 'collections.general.sort_by' | t }}</label>
                          <div class="select">
                            <select name="sort_by" aria-describedby="a11y-refresh-page-message">
                              {%- for option in collection.sort_options -%}
                                <option value="{{ option.value | escape }}"{% if option.value == collection.sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                              {%- endfor -%}
                            </select>
                            <div class="arrow">
                              <i class="fc fc-angle-down fc-lg"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {%- endif -%}
                  <div class="footer">
                    <a href="{{ clear_url }}" class="btn full">{{ 'collections.general.clear' | t }}</a>
                    <button type="submit" class="btn action full">{{ 'collections.general.apply' | t }}</button>
                  </div>
                </div>
              </div>
            </form>
          </collection-filters-form>
        </details>
      </menu-drawer>
      <div class="active-facets">
        <a href="{{ clear_url }}" class="btn action small">{{ 'collections.general.clear_all' | t }}</a>
        {%- for filter in collection.filters -%}
          {% if filter.type == "price_range"  %}
            {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
              <a class="btn action small faded" href="{{ filter.url_to_remove }}">
                {%- assign min_value = filter.min_value.value | default: 0 -%}
                {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                {{ min_value | money }} - {{ max_value | money }}
                <i class="fc fc-close"></i>
              </a>
            {%- endif -%}
          {%- else -%}
            {%- for filter_value in filter.active_values -%}
              <a class="btn action small faded" href="{{ filter_value.url_to_remove }}">
                {{ filter_value.label }}
                <i class="fc fc-close"></i>
              </a>
            {%- endfor -%}
          {% endif %}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
{%- endif -%}