<div class="content page">
  <div class="inner with-layout-options {{ settings.content_layout }} ">
    <div class="main aff-wrapper {{ settings.pages_title_alignment }}">

    <div class="rte">
      {{ page.content }}
    </div>

   	<div id="contactFormAffiliates">
      {% form 'contact' %}
        {% if form.posted_successfully? %}
          <h4>{{ 'contact.form.post_success' | t }}</h4>
        {% endif %}
        <div class="row">
          <input class="full{% if form.errors contains 'name' %} error{% endif %}" type="text" id="contactFormName" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" aria-label="{{ 'contact.form.name' | t }}">
          {% render 'form-field-error', form: form, field: 'name' %}
        </div>
        <div class="row">
          <input class="full{% if form.errors contains 'email' %} error{% endif %}" type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" aria-label="{{ 'contact.form.email' | t }}">
          {% render 'form-field-error', form: form, field: 'email' %}
        </div>
        <div class="row">
          <input class="full" type="text"  name="contact[social]" placeholder="TikTok / Instagram  / Facebook " value="{{ form.social }}" autocorrect="off" >
        </div>
        <div class="row">
          <textarea class="full" rows="5" id="contactFormMessage" name="contact[body]" placeholder="Message" aria-label="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
        </div>
        <div class="row">
          <input class="btn action full" name="commit" type="submit" value="{{ 'contact.form.send' | t }}">
        </div>
      {% endform %}
    </div>

    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Contact",
    "es": "Contacto"
  },
  "class": "section-contact"
}
{% endschema %}