<div class="content image-with-text {% if product.title contains "Snack" %} hide {% endif %}
    {% if product.title contains "Influencer" %} influencer-page {% endif %}
    {% render 'content-classes', scope: section %}">
  <div class="inner with-layout-options {{ settings.content_layout }}">
    <div class="flex-row {% if section.settings.text_position == "left" %}odd{% endif %}">
      <div class="left image">
        {% if section.settings.image %}
          {% render 'resp-img',
           image: section.settings.image,
           alt: section.settings.image.alt,
           default_size: "1080x",
           sizes: "(max-width: 960px) 100vw, 50vw",
           itemprop: "image"
          %}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg with-white-background' }}
        {% endif %}
      </div>
      <div class="right info">
        <div class="rte {{ settings.content_alignment }}">
          {% if section.settings.subtitle != blank %}
            <p class="category">{{ section.settings.subtitle }}</p>
          {% endif %}
          {% if section.settings.title != blank %}

            {% if section.settings.heading_link != blank %}
              <a href="{{ section.settings.heading_link }}" target="_blank">
                <h2>{{ section.settings.title }}</h2>
              </a>
            {% else %}
              <h2>{{ section.settings.title }}</h2>
            {% endif %}

          {% endif %}
          {% if section.settings.text != blank %}
            {{ section.settings.text }}
          {% endif %}
          {% comment %} added button - am {% endcomment %}
          {% unless section.settings.button_label == blank or section.settings.button_link == blank %}
            <div>
              <a href="{{ section.settings.button_link }}" class="image-with-text-btn btn action small">{{ section.settings.button_label | escape }}</a>
            </div>
          {% endunless %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": {
      "en": "Image with text",
      "es": "Imagen con texto"
    },
    "class": "image-with-text-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": {
          "en": "Image",
          "es": "Imagen"
        }
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": {
          "en": "Subheading",
          "es": "Subtítulo"
        },
        "default": {
          "en": "Subtitle",
          "es": "Subtítulo"
        }
      },
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Heading",
          "es": "Título"
        },
        "default": {
          "en": "Image with text",
          "es": "Imagen con texto"
        }
      },
      {
        "type": "url",
        "id": "heading_link",
        "label": {
          "en": "Heading link"
        }
      },
      {
        "type": "richtext",
        "id": "text",
        "label": {
          "en": "Text",
          "es": "Texto"
        },
        "default": {
          "en": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "es": "<p>Vincula un texto largo con una imagen para dar visibilidad a tu producto, colección o artículo de blog seleccionados. Agrega detalles sobre disponibilidad, estilo, o incluso ofrece una reseña.</p>"
        }
      },
      {
        "type": "text",
        "id": "button_label",
        "label": {
          "en": "Button label",
          "es": "Etiqueta del botón"
        }
      },
      {
        "type": "url",
        "id": "button_link",
        "label": {
          "en": "Button link",
          "es": "Enlace del botón"
        }
      },
      {
        "type": "select",
        "id": "text_position",
        "label": {
          "en": "Text position",
          "es": "Posición del texto"
        },
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": {
              "en": "Left",
              "es": "Izquierda"
            }
          },
          {
            "value": "right",
            "label": {
              "en": "Right",
              "es": "Derecha"
            }
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.settings.header.content"
      },
      {
        "type": "checkbox",
        "id": "show_background",
        "label": "t:sections.settings.show_background.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "expanded",
        "label": "t:sections.settings.expanded.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_on_desktop",
        "label": "t:sections.settings.show_on_desktop.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_on_mobile",
        "label": "t:sections.settings.show_on_mobile.label",
        "default": true
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Image with text",
          "es": "Imagen con texto"
        }
      }
    ]
  }
{% endschema %}