<div class="content slideshow height_100 no-padding expanded">
  <div class="slides">
    <div class="slide">
      <div class="content {{ section.settings.alignment }}">
        <div class="container">
          {% render 'logo' %}
          <div class="landing">
            {% if section.settings.heading != blank %}
              <h2>{{ section.settings.heading }}</h2>
            {% endif %}
            {% unless shop.password_message == blank %}
              <h3>{{ shop.password_message | newline_to_br }}</h3>
            {% endunless %}
            {% if section.settings.newsletter_enable %}
              {% form 'customer' %}
                {% if form.posted_successfully? %}
                  <h3 class="success">{{ 'general.password_page.signup_form_success' | t }}</h3>
                {% else %}
                  {% if section.settings.subheading != blank %}
                    <div class="rte">
                      {{ section.settings.subheading }}
                    </div>
                  {% endif %}
                  <div class="form">
                    <div class="inputs">
                      <input type="hidden" name="contact[tags]" value="prospect, password page">
                      <input class="email{% if form.errors contains 'email' %} error{% endif %}" type="text" name="contact[email]" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" autocorrect="off" autocapitalize="off" aria-label="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
                      <input type="submit" class="btn action small" value="{{ 'general.password_page.signup_form_submit' | t }}">
                    </div>
                    {% if form.errors %}
                      {% for field in form.errors %}
                        <div class="field-error">{{ form.errors.messages[field] }}</div>
                      {% endfor %}
                    {% endif %}
                  </div>
                {% endif %}
              {% endform %}
            {% endif %}
          </div>
          <div class="login">
            {% form 'storefront_password' %}
              <p>{{ 'general.password_page.login_form_heading' | t }}</p>
              <div class="form">
                <div class="inputs">
                  <input class="email" type="password" name="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" aria-label="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                  <input type="submit" class="btn action small" name="commit" value="{{ 'general.password_page.login_form_submit' | t }}">
                </div>
                {% if form.errors %}
                  {% for field in form.errors %}
                    <div class="field-error">{{ form.errors.messages[field] }}</div>
                  {% endfor %}
                  <script type="text/javascript">
                    window.show_password_login = true;
                  </script>
                {% endif %}
                <div class="link">
                  {{ 'general.password_page.admin_link_html' | t }}
                </div>
              </div>
            {% endform %}
          </div>
        </div>
      </div>
      <div class="top-right">
        <a href="#" class="btn line close hide" data-action="show-landing" aria-label="{{ 'general.accessibility.close_modal' | t }}"><i class="fc fc-close"></i> {{ 'general.password_page.back_link_html' | t }}</a>
        <a href="#" class="btn line password" data-action="show-login"><i class="fc fc-lock"></i> {{ 'general.password_page.password_link_html' | t }}</a>
      </div>
      <div class="bottom-right">
        <div class="banner">
          {% capture shopify %}
            <a href="//www.shopify.com" target="_blank" rel="nofollow" >
              {% render 'shopify-svg' %}
              <span>Shopify</span>
            </a>
          {% endcapture %}
          {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Password page",
    "es": "Página de acceso restrigido"
  },
  "class": "password-section",
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "en": "Alignment",
        "es": "Aliniación"
      },
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": {
            "en": "Left",
            "es": "Izquierda"
          }
        },
        {
          "value": "center",
          "label": {
            "en": "Center",
            "es": "Centro"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right",
            "es": "Derecha"
          }
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "en": "Logo",
        "es": "Logo"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "en": "Maximum logo width",
        "es": "Ancho máximo del logotipo"
      },
      "default": 250,
      "min": 50,
      "max": 500,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading",
        "es": "Título"
      },
      "default": {
        "en": "Opening Soon",
        "es": "Próxima apertura"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Newsletter",
        "es": "Newsletter"
      }
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "en": "Show newsletter signup",
        "es": "Mostrar formulario del newsletter"
      },
      "default": true
    },
    {
      "type": "paragraph",
      "content": {
        "en": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)",
        "es": "Todos los clientes que se registren tendrán una cuenta creada para ellos en Shopify. [Ver clientes](/admin/customers?query=&accepts_marketing=1)"
      }
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": {
        "en": "Heading",
        "es": "Cabecera"
      },
      "default": {
        "en": "<p>Be the first to know when we launch:</p>",
        "es": "<p>Se el primero en enterarte cuando empecemos:</p>"
      }
    }
  ]
}

{% endschema %}